# Godot 4+ specific ignores
.godot/
/android/
*.uid

# Build artifacts
*.apk
*.idsig
.vs/fighter.slnx/FileContentIndex/03cec142-ac6b-4fee-8b22-c0af28f31a81.vsidx
.vs/fighter.slnx/FileContentIndex/3c6169ca-d171-4ffa-b2c0-c0b8a570187d.vsidx
